@import '../../../styles/variables.scss';

.LoginPage{
    background-image: url("../../../assets/background-cubes.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    display: flex;

    &__section1, &__section2{
        width: 100%;
        min-height: 100vh;
        max-height: 100vh;
    } 

    &__section1{
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 100%;
        h1{
            padding: .3rem;
            display: inline;
            font-size: 2rem;
            color: $secondary;
            b{
                color: $primary;
            }
        }
    }
    &__section2{
        background:#341e9fd5;
    }

}