<nav class="SideBar">
  <header class="SideBar__Header">
    <img src="../../../../../assets/unicomer.svg" alt="unicomer-logo" />
  </header>
  <ul class="SideBar__List">
    @for (route of routesDashboard; track route.label) {
    <li class="SideBar__List-item">
      <app-route
        [icon]="route.icon"
        [label]="route.label"
        [path]="route.path"
      />
    </li>
    }
    <li class="SideBar__List-item">
      <app-route
        [icon]="getIconByName('logout')"
        label="Cerrar sesión"
        (action)="logOut($event)"
      />
    </li>
  </ul>
</nav>
