<div class="Card">
  <div class="Card__balance">
    <span>Mi saldo</span>
    <h2>{{ balance }}</h2>
  </div>

  <div class="Card__number">
    <h3>{{ numberCard }}</h3>
  </div>
  @if(!numberCard){
  <p>Aún no tienes tarjetas registradas</p>
  }
  <div class="Card__Data">
    <div class="Card__Data-headline">
      <span>Propietario</span>
      <h3>{{ headline }}</h3>
    </div>
    <div class="Card__Data-due">
      <span>Vencimiento</span>
      <h3>{{ dueDate }}</h3>
    </div>
  </div>

  <div class="Card__bar-1"></div>
  <div class="Card__bar-2"></div>

  <div class="Card__circle">
    <div class="Card__circle-1"></div>
    <div class="Card__circle-2"></div>
  </div>
</div>
